.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000; /* Black background */
  padding: 5px;
  text-align: center;
  color: #fff; /* White text color */
  z-index: -1;
}
