/* home.css */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bac.jpg'); /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust opacity as needed */
  z-index: -1;
}

.home {
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4)), url('bac.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  background-repeat: no-repeat;
  text-align: left; /* Align text to the left */
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.text-container {
  margin-top: 2rem;
  text-align: left; /* Align text to the left */
}

.logo-container {
  display: flex;
  justify-content: flex-end; /* Align logo to the right */
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: rotate 4s infinite linear; /* Add rotation animation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-container h2 {
  font-size: 4rem;
  color: #470d2a;
  font-family: monospace;
  opacity: 0; /* Set initial opacity to 0 for fade-in effect */
  animation: fadeIn 1.5s forwards; /* Apply fadeIn animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-container p {
  font-size: 2rem;
  color: #101611;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
}

/* Chatbot Section Styles */
.chatbot-section {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chatbot-container {
  width: 90px; /* Set width to make it square */
  height: 90px; /* Set height to make it square */
  border-radius: 20px; /* Adjust border-radius to create rounded edges */
  background-color: #3bd4d4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbot-icon {
  font-size: 8rem; /* Increase icon size */
  color: #0e0b0b;
}

.say-hi-button {
  background-color: #0c5994;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 0.5rem; /* Adjust margin */
}

.say-hi-button:hover {
  background-color: #ff1493;
}
