.signup-page {
    min-height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4)), url('./sun.jfif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .label {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .icon {
    margin-right: 0.5rem;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .error-notification {
    background: #f8d7da;
    color: #721c24;
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .signup-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ffd700;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #ffc107;
  }
  